<html>
    <head th:fragment="head">
        <script th:src="@{/webjars/jquery/3.5.1/dist/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/datepicker.min.js}"></script>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.2/css/all.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/datepicker.min.css}"/>
        <title>Cov-Vac</title>
        <style>
            body{
                background-color: #f3f3f3;
            }
        </style>
    </head>
    <body>
        <header th:fragment="header">
            <nav class="navbar navbar-dark bg-primary">
                <a class="navbar-brand" href="#">
                    <i class="fa fa-viruses" style="font-size: 40px;"></i>
                    <span style="font-size: 30px; vertical-align: top;">Cov-Vac</span>
                </a>
              </nav>
        </header>
        
    </body>
</html>