<html>

<head th:insert="/fragments/header :: head"></head>

<body>
    <div th:insert="/fragments/header :: header"></div>
    <div class="container">
        <div class="row" style="padding-top: 3rem;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-6">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        Slot Finder Utility
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="input-group mb-3">
                                    <label class="input-group" for="select-state">Select State</label>
                                    <select class="custom-select" id="select-state">
                                        <option selected>Choose...</option>
                                        <option th:each="state : ${states}" th:value="${state.id}"
                                            th:text="${state.stateName}">One</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="input-group mb-3">
                                    <label class="input-group" for="datepicker">Select Date</label>
                                    <div style="width: 100%;">
                                        <input type="text" id="datepicker" placeholder="Select Date">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="input-group mb-3" id="district-pre-container">
                                    <label class="input-group" for="select-district-dummy">Select District</label>
                                    <div id="select-district-dummy" class="text-primary">-- Please Select State first --
                                    </div>
                                </div>
                                <div id="district-container"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-6">
                                <div id="slot-container"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div th:insert="/fragments/footer :: footer"></div> -->
</body>
<script>
    $('#select-state').on('change', function () {
        $.ajax({
            type: 'GET',
            url: '/notifier/district',
            data: {
                'state': this.value
            },
            beforeSend: () => {
                $('#select-district-dummy').html('<h6>Processing...</h6>');
            },
            success: (response) => {
                $('#district-pre-container').hide();
                $('#district-container').html(response);
            }
        });
    })

    $('#datepicker').datepicker({
        uiLibrary: 'bootstrap4',
        //modal: true
        //width: 312
        format: 'dd-mm-yyyy',
        header: true,
        footer: false,
        iconsLibrary: 'fontawesome',
        showRightIcon: true,
    });
</script>

</html>